button {
  background-color: none;
  border: 1px solid black;
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
  letter-spacing: 3px;
  text-transform: lowercase;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
