.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.projectImage {
  cursor: pointer;
  width: 90vw;
  animation-duration: 0.75s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

.counter {
  display: grid;
  width: 100vw;
  justify-content: center;
  grid-template-columns: 1rem 1rem 1rem;
  position: fixed;
  bottom: 5rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .projectImage {
    width: 70vw;
  }
}

@media only screen and (min-width: 900px) {
  .projectImage {
    width: auto;
    height: 75vh;
  }

  .counter {
    display: grid;
    width: 100vw;
    justify-content: end;
    grid-template-columns: 1rem;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    font-size: 1.4rem;
    text-align: right;
    font-weight: 600;
  }
}
