.main {
  /*border: 2px solid gold;
  display: grid;
  height: 98vh;
  justify-content: center;
  align-content: center;*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  position: fixed;
  top: 1.2rem;
  right: 6rem;
  /*border: 2px solid pink;*/
}

.counter {
  position: fixed;
  top: 2.8rem;
  left: 3rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  /*border: 2px solid blue;*/
}

.slideIn {
  /*border: 2px solid purple;*/
  animation-duration:1s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}


.image {
  /*border: 2px solid green;*/
  width: 80vw;
  /*filter: grayscale() contrast(120%);*/
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .image {
    width: 80vw;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .image {
    width: 70vw;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  .image {
    width: auto;
    height: 85vh;
  }

  .container1 {
    position: fixed;
    top: 50vh;
    left: 3.5rem;
  }

  .container2 {
    position: fixed;
    top: 50vh;
    right: 3.5rem;
    text-align: right;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 10px;
    height: 10px;
    padding : 3px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
  }


  button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
    opacity: 1;
  }


  button:active {
    text-decoration: none;
    opacity: 1;
  }

  .left {
    transform: rotate(-135deg);
  }
}

@media only screen and (min-width: 1800px) {
  .image {
    width: auto;
    height: 70vh;
  }
}
/*
.container2 {
  border: 1px solid pink;
  position: fixed;
  top: 50vh;
  right: 3.5rem;
}
*/
/*
button {
  text-decoration: none;
  cursor: pointer;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  opacity: 0;
  transition: opacity .35s ease;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  text-decoration: none;
}
*/

/* arrows for desktop version */
/*
.container1 {
  position: fixed;
  border: 1px solid green;
  top: 50vh;
  left: 3.5rem;
}

.container2 {
  position: fixed;
  border: 1px solid pink;
  top: 50vh;
  right: 3.5rem;
  text-align: right;
}
*/

/*
button {
  border: 1px solid blue;
  cursor: pointer;
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
  opacity: 1;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
*/
/* buttons for desktop version */
/*
button {
  width: 10px;
  height: 10px;
  padding : 3px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
}


button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
  opacity: 1;
}


button:active {
  text-decoration: none;
  opacity: 1;
}


.left {
  transform: rotate(-135deg);
}
*/
