.container {
  /*border: 2px solid pink;*/
  display: grid;
  text-align: center;
  justify-items: center;
  height: 98vh;
}

.title {
  /*border: 2px solid green;*/
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 70vw;
}

.text {
  /*border: 2px solid blue;*/
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  letter-spacing: 3px;
}

.btn {
  position: fixed;
  top: 1.2rem;
  right: 6rem;
}

form {
  width: 80vw;
}
/*
fieldset {
  border-top: 1px solid grey;
}
*/

input,
textarea {
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
  letter-spacing: 3px;
  text-align: right;
  border: none;
  width: 80vw;
  padding-bottom: 6rem;
  border-top: 1px solid grey;
}

:focus {
  outline: none;
}

.btnSubmit {
  border: none;
  margin: 0;
  padding: 1rem 1rem;
  width: auto;
  overflow: visible;
  background: transparent;
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
  letter-spacing: 3px;
  background-color: none;
  border-bottom: 1px solid grey;
  text-align: center;
}

.btnSubmit:hover {
  border-bottom: 1px solid pink;
  border-top: 1px solid pink;
  color: pink;
  transform: translateY(10px);
}
