.header {
  position: fixed;
  z-index: 10;
  width: 100vw;
  display: grid;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  justify-self: center;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 1.8rem;
  letter-spacing: 8px;
}

.nav {
  display: grid;
  align-content: space-around;
  z-index: 11;
  position: fixed;
  width: 100vw;
  height: 8rem;
  text-align: center;
  font-family: 'Lora', serif;
  color: black;
  text-transform: lowercase;
  font-size: 1rem;
  letter-spacing: 8px;
  background-color: white;
}

.items {
  display: grid;
  height: 8rem;
  grid-row-gap: 1rem;
  align-content: center;
}

.btn {
  z-index: 50;
  cursor: pointer;
  position: fixed;
  top: 1.2rem;
  right: 6rem;
}

@media only screen and (min-width: 600px) {
  .nav {
    position: fixed;
    right: 3rem;
    width: 30rem;
    height: auto;
    text-align: center;
    font-size: 1.2rem;
    -webkit-transform-origin: right top;
    -webkit-transform:translateY(400px)  rotate(-270deg) ;
  }

  .items {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
