.wrapperFooter {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  display: grid;
  align-content: center;
  justify-content: center;
}

.footer {
  width: 100%;
  padding: 2rem 0rem 2rem 0rem;
  text-align: center;
  color: black;
  font-family: 'Merriweather', sans-serif;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 8px;
}

@media only screen and (min-width: 600px) {
  .footer {
    font-size: 1.2rem;
  }
}
